<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel='stylesheet' href='stylesheets/main.css' />
    </head>

    <body>
      <div id='top'>

      </div>
      <a id='scroll' href='#About'>
        <div>
          <p>
            Scroll 4 How!
          </p>
        </div>
      </a>
      <div class='container'>
        <div class='row row 1'>
          <div class='title col-12 col-md-6'>
            <h3>Welcome to <span>Shrtly!</span></h3>
          </div>
          <div class='form col-12 col-md-6'>
              <input type="text" id="url" name="url" placeholder="Your big url goes here!">
              <input type="text" id="shortUrl" name="shortUrl" placeholder="Your shorty link comes out here!">
              <input type="submit" id="post" value="Submit">
          </div>
        </div>
        <div class='row row2'>
          <div id='center' class='col-12 col-md-4'>
            <h3 id='About'><span>How?</span></h3>
          </div>
          <div class='col-12 col-md-8' id='aboutUS'>
            <p>
              Hello there!<br />
              Let me explain how this works...<br />
              You just add a long
              <strong><em>ugly</em></strong>
              link into the 'big url' section above, and hit the Submit button, after that just by pure magic and in a blink of an eye, the short more
              <strong><em>appealing</em></strong> version of your link comes out below. <br />
              That's it!!! You can now use the short version of your link everywhere across the World Wide Web! <br />
              Enjoy!
            </p>
          </div>
        </div>
        <a id='scrolltop' href='#top'>
          <div>
            <p>
              Top Again!
            </p>
          </div>
        </a>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type='application/javascript' src='https://unpkg.com/jquery'></script>
        <script type='application/javascript' src='javascripts/main.js'></script>
      </div>
    </body>
</html>
