@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Merienda+One');
body {
  margin: 0, 0, 0, 0;
  padding: 0;
  background-color: rgb(27, 207, 99);
}
a{
  text-decoration: none !important;
}
#scroll p{
  text-decoration: none !important;
  margin: 0;
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  color:black;
  font-size: 1em;
  font-family: 'Bree Serif', serif;
}
#scrolltop p{
  text-decoration: none !important;
  margin: 0;
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  color:black;
  font-size: 1em;
  font-family: 'Bree Serif', serif;
}
#scrolltop{
  position:absolute;
  bottom: -53%;
  left: -49px;
  border-radius:4px;
  border: 2px solid black;
  transform: rotate(270deg);
  text-align: center;
  font-size: 1em;
  font-family: 'Bree Serif', serif;
}
#scroll{
  position:absolute;
  top: 48%;
  left: -49px;
  border-radius:4px;
  border: 2px solid black;
  transform: rotate(270deg);
  text-align: center;
  font-size: 1em;
  font-family: 'Bree Serif', serif;
}
#scroll:hover, #scrolltop:hover{
  font-size: 1.4em;
  text-shadow: 2px 2px #4CAF50;
}
.row2 h3{
  text-align: center;
}
.row{
  height: 100vh;
  align-items: center;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 2em;
}
h3 {
  font-family: 'Bree Serif', serif;
  font-weight: 100;
  font-size: 1em;
  vertical-align: middle;
}
.col-12 span {
  text-align: center;
  font-family: 'Merienda One', cursive;
  font-size: 2.5em;
}
#aboutUS p {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-weight: 100;
  font-size: 2em;
  vertical-align: middle;
}
span {
  font-family: 'Merienda One', cursive;
  font-size: 1.5em;
}
center {
  margin: 10% auto;
}
input[type=submit] {
  align-self: center;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
form{
  margin: 0 auto;
}
input[type=submit]:hover {
  background-color: #07950e;
}
.title {
  font-size: 2em;
  height: auto;
  margin: 20vh auto;
  text-align: center;
}
.form {
  position: relative;
  height: auto;
  align-items: center;
  margin: 8px auto;
  width: 60vw;
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
